<a href="/restaurants/new" id="add_restaurant">Add restaurant</a>
<ul>
  <% @restaurants.each do |restaurant|%>
    <li>
      <a href=""><%= restaurant.name %></a>
      <%= restaurant.description %>
    </li>
  <% end %>
</ul>
