<a href="/restaurants/new" id="add_restaurant">Add restaurant</a>
<ul>
  <% @restaurants.each do |restaurant|%>
    <li>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
      <%= restaurant.description %>
    </li>
  <% end %>
</ul>
